@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #fc881d;
  --dark: #0d0e25;
  --white: #fff;
  --secondary: rgba(13, 14, 37, 0.6);
}

html {
  scroll-behavior: smooth;
}
